* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f2f5;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #0a4d8c;
}

#respostas {
    width: 100%;
}

.resposta {
    cursor: pointer;
    background: #e9ecef;
    margin: 5px;
    padding: 0.75rem;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.resposta:hover {
    background-color: #ced4da;
}

.certo {
    background: #28a745;
    color: #ffffff;
}

.errado {
    background: #dc3545;
    color: #ffffff;
}

.errado:hover {
    background: #c82333;
}

.certo:hover {
    background: #218838;
}

#proxima-questao {
    cursor: pointer;

    transition: color 0.3s;
}

.hidden {
    display: none !important;
}

.btn-primary {
    background-color: #0a4d8c;
    border: none;
}

.btn-primary:hover {
    background-color: #083c70;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
